name: Deploy Backend

on:
  push:
    branches: [ "main" ]
    paths:
      - "backend/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure AWS
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to ECR
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build & Push Backend Image
      run: |
        docker build -t todo-backend backend
        docker tag todo-backend:latest ${{ secrets.ECR_REGISTRY }}/todo-backend:latest
        docker push ${{ secrets.ECR_REGISTRY }}/todo-backend:latest

    - name: Deploy on EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          docker login -u AWS -p $(aws ecr get-login-password --region ap-south-1) ${{ secrets.ECR_REGISTRY }}
          docker pull ${{ secrets.ECR_REGISTRY }}/todo-backend:latest
          docker stop todo-backend || true
          docker rm todo-backend || true
          docker run -d \
            --name todo-backend \
            -p 3000:3000 \
            -e MONGODB_URL=${{ secrets.MONGO_URL }} \
            --restart unless-stopped \
            ${{ secrets.ECR_REGISTRY }}/todo-backend:latest
